.carrossel__titulo {
    color: var(--laranja);
    background: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0; /* TOPO DIREITA BAIXO ESQUERDA*/
}

.swiper-slide img {
    width: 100%;
    
}

/*como na versao do layout mobile nao tem as setas para fazer o carrossel das
imgs dos livros, tiramos ele*/
.swiper-button-prev, .swiper-button-next {
    display: none;
}

/*esse swiper-pagination, seria aquela pequena serie de bolinhas que indicam os elementos da paginação. Essa config abaixo, permite com que ele fique na parte de cima. Mais bonito e eficiente*/
.swiper-pagination {
    position: initial;
    margin: .5em 0 ;
}

.card__descrição {
    display: flex; /*transforma o card num flex container, e ent o texto e a img viraram seus flexs itens (filhos)*/
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between
}

.botoes {
    display: flex;
}

.card {
background: var(--branco);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 1em;
padding: 1em;
}

.descrição__titulo {
    color: var(--laranja);
    font-family: (--fonte-principal);
    font-weight: 700;
    font-size: 16px;
}

.descrição__titulo-livro {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 18px;
    margin: .5em 0;

}

.descrição__texto {
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
}

.botoes__ancora {
    padding: 1em 2.2em;
    background: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    font-family: var(--fonte-principal);
    
}

.banner__2 {
    color: var(--laranja);
    background: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0; /* TOPO DIREITA BAIXO ESQUERDA*/
}

.card__descrição-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

}

.descrição__titulo-2 {
    color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 16px;
}

.descrição__titulo-nome {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 16px;
    margin: .5em 0;
}

.descrição__texto-nome {
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
}

.estrelinhas {
    padding-bottom: .5em;
}

