.contato {
    background-color: var(--branco);
    padding: 2em;
}

.contato__titulo, .contato__texto {
    margin-bottom: 1em; 
    font-family: var(--fonte-principal);
    color: var(--azul);
}

.contato__titulo { 
    font-weight: 500;
    font-size: 18px; 
     
}

.contato__texto {
    font-weight: 300;
    font-size: 16px;  
}

.contato__email {
    text-align: center;
    background: transparent;
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 90%
}

.contato__email::placeholder {
    padding-right: 4em;
    color: var(--azul);
    font-family: var(--fonte-principal);
    background: url(../img/caixinhaEmail.svg);
    background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex; /*se tirar, vai ver q os elementos de dentro ficariam um embaixo do outro. Com display flex, eles ficaram um ao lado do outro. facilitando para posicionar eles*/
        justify-content: center; /*essas duas config sao para eles ficarem totalmente alinhados*/
        align-items: center;
        padding: 3.em;
    }

    .contato__descrição {
        margin-left: 5em;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__email {
        margin: 3em;
        width: 50%;
        
    }
}

@media screen and (min-width:1728px) {
    .contato__email {
        width: 30%;
    }
}