.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat; /*quando ele passa do tamanho que definimos, ele tava tentando repetir a imagem varias vezes */
    background-position: center; /*centralizar o hamburguer*/
    display: inline-block; 
}

/*essa propriedade de ~, faz com que seja procurado um prox elemento com a classe indicada, logo após o elemento indicado antes dele*/
.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url(../img/MenuAberto.svg);
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}





.cabeçalho {
    background-color: var(--branco);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {   
    display: flex; 
    align-items: center;
    
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none; /*n aparecer a lista. Desaparecer com os elementos*/
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

/*configurando a lista*/
.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link { 
background: var(--azul-degrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;
text-transform: uppercase; /*tudo maiusculo*/
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none; 
}

.opções {
    display: none;
}

.opções__botão {
    display: none;
}

.opções__botão:checked ~ .opções__rotulo > .opções__item{
    color: var(--branco);
    background: var(--azul-degrade);
}

.opções__item {
    margin-left: 1em;
}

.lista-menu__item:hover {
     background: var(--azul-degrade);
}

.lista-menu__item:hover >.lista-menu__link {
    text-decoration: none;
    -webkit-text-fill-color: var(--branco); 
                   

}

@media screen and (min-width: 1024px) {
    .container__titulo {
        margin-top: .35em;
        font-weight: 400;
        display: block;
     }

     .container__titulo,
     .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
     }

     .container__titulo--negrito {
        font-weight: 700;
     }

     .opções {
        display: flex;
     }

     .opções__item {
        padding: 1em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--preto);
    }

    .opções__link {
        color: var(--preto);
        text-decoration: none;
    }

    .container__imagem-transparente {
        display: none; /*sumir a img favorito*/
    }

    .cabeçalho__menu-hamburguer {
        display: none; /*n tem menu hamburguer nesta dimensao de telas*/
    }

    .opções__botão:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
}

.container__texto {
    display: none;
}


@media screen and (min-width: 1728px) {
    .container__link {
        font-size: 20px;
        color: var(--preto);
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .cabeçalho {
        padding: 0.2em;
    }

    .opções {
        margin-right: auto; 
    }

    .container__texto {
        display: block;
    }

    .opções__item-categorias {
        padding-top: 1.5em;
        margin-left: 1em;
    }

    
}

